/* --- HERO SECTION --- */
.hero-custom {
    background-image: url("../img/background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 90vh;
    transform: skewY(-0,5deg);


    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 40px 20px;
}


.hero

.hero-custom h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-custom p {
    font-size: 1.1rem;
    max-width: 650px;
    margin: 0 auto 20px;
}

.hero-custom .hero-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #ffffff;
    color: #166534; /* hijau tailwind */
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s;
}

.hero-custom .hero-btn:hover {
    background: #f0f0f0;
}


/* --- FITUR CARD --- */
.feature-card-custom {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: 0.25s ease;
}

.feature-card-custom:hover {
    transform: translateY(-6px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}

.feature-card-custom img {
    overflow: hidden;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.35s ease;
}


.feature-card-custom .card-body {
    padding: 16px;
}

.feature-card-custom h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.feature-card-custom p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 12px;
}

.feature-card-custom a {
    text-decoration: none;
    color: #172d5c;
    font-weight: 600;
}


/* --- RESPONSIVE HERO --- */
@media (max-width: 640px) {
    .hero-custom h1 {
        font-size: 2rem;
    }

    .hero-custom p {
        font-size: 1rem;
    }
}
