/* HERO */
/* ---  --- */
.umkm-hero {
    background-image: url("../img/background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 90vh;
    transform: skewY(-0,5deg);


    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 40px 20px;
}

/* Section Title */
/* ---  --- */
.section-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #166534;
}

/* UMKM Card */
/* ---  --- */
.umkm-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: .25s ease;
}

.umkm-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}

.umkm-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-body {
    padding: 16px;
}

.card-body h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #172d5c;
    margin-bottom: 6px;
}

.card-body .owner,
.card-body .kategori {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 4px;
}

.card-body .Lokasi {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 4px;
}

.detail-btn {
    display: inline-block;
    margin-top: 6px;
    font-weight: 600;
    color: #172d5c;
    text-decoration: none;
}
