/* HERO BESAR */
/* ---  --- */
.wisata-hero {
    background-image: url("../img/background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 90vh;
    transform: skewY(-0,5deg);


    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 40px 20px;
}

/* Judul Section */
/* ---  --- */
.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #172d5c;
}

/* CARD WISATA */
/* ---  --- */
.wisata-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: 0.25s ease;
}

.wisata-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
}

.wisata-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 16px;
}

.card-body h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.card-body p {
    color: #555;
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.card-body a {
    text-decoration: none;
    color: #166534;
    font-weight: 600;
}
